SECRET_KEY='***'
DB_NAME='drf_project'
DB_USER='postgres'
DB_PASSWORD='***'
DB_HOST='localhost'
DB_PORT='5432'
STRIPE_SECRET_KEY='****'
STRIPE_PUBLIC_KEY='****'
EMAIL_HOST='smtp.yandex.ru'
EMAIL_PORT='587'
EMAIL_USE_TLS='True'
EMAIL_HOST_USER='your_email@yandex.ru'
EMAIL_HOST_PASSWORD='***'
CELERY_BROKER_URL='redis://localhost:6379'
CELERY_RESULT_BACKEND='redis://localhost:6379'